<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Lastest News </title>
        {% endif %}
    </head>
    <body>
      <body>
              <!-- News display section  -->
              <h3> Lastest News</h3>
               <ul>
                  {% for top_headlines in headlines %}
                      <li>{{ top_headlines.title}}</li>
                  {% endfor %}
              </ul>
       </body>
    </body>
</html>
