{% macro displayNews(headlines) %}

    {% for top_headlines in headlines %}
    <div class="col-md-2 top_headlines-card">
        <h3> Headline news from {{ top_headlines.broadcaster}} </h3>
        <img src="{{ top_headlines.image }}" alt="{{ top_headlines.broadcaster }} images" class="img-responsive">
        <ol>{{ top_headlines.title}}</ol>
        <ol class="text-center">
            <a add target="_blank" href="{{top_headlines.URLsource}}">
                Read more</a>
        </ol>

        <ol> break! </ol>
        <ol class="text-center">
          More from  <a  href="/news_source/{{top_headlines.id}}">
                {{ top_headlines.broadcaster }}</a>
        </ol>
    </div>
    {% endfor %}

{% endmacro %}

{% macro displayBroadcasterNews(broadcasternews) %}

    {% for top_headlines in broadcasternews %}
    <div class="col-md-2 top_headlines-card">
        <h3> Headline news from {{ top_headlines.broadcaster}} </h3>
        <img src="{{ top_headlines.image }}" alt="{{ top_headlines.broadcaster }} images" class="img-responsive">
        <ol>{{ top_headlines.title}}</ol>
        <ol class="text-center">
            <a add target="_blank" href="{{top_headlines.URLsource}}">
                Read more</a>
        </ol>

        <ol> break! </ol>
        <ol class="text-center">
          More from  <a  href="/news_source/{{top_headlines.id}}">
                {{ top_headlines.broadcaster }}</a>
        </ol>
    </div>
    {% endfor %}

{% endmacro %}
