{% macro displayNews(headlines) %}

    {% for top_headlines in headlines %}
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="border: 2px solid black;
            border-radius: 5px; padding: 5px; margin: 20px; height: 600px">
                {% if top_headlines.broadcaster %}
                    <h3> Headline news from {{ top_headlines.broadcaster}} </h3>
                {% else %}
                    <h3> Headline news from **Name unavailable</h3>
                {% endif %}

                {% if top_headlines.image %}
                    <img src="{{ top_headlines.image }}" alt="{{ top_headlines.broadcaster }} images" class="img-responsive">
                {% else %}
                    <img src="../static/unavailable-image.jpg" alt="{{ top_headlines.broadcaster }} images" class="img-responsive">
                {% endif %}
                <ol> <span> Story: </span> {{ top_headlines.title}}</ol>
                <ol class="text-center">
                    <a add target="_blank" href="{{top_headlines.URLsource}}">
                        Read more</a>
                </ol>
                <ol> <span> Published on: </span> {{top_headlines.date}}</ol>
                <ol class="text-center">
                  More from  <a  href="/news_source/{{top_headlines.id}}">
                        {{ top_headlines.broadcaster }}</a>
                </ol>
            </div>

    {% endfor %}

{% endmacro %}

{% macro displayBroadcasterNews(broadcasternews) %}

    {% for top_headlines in broadcasternews %}
    <div class="col-md-2 top_headlines-card">
        <img src="{{ top_headlines.image }}" alt="{{ top_headlines.broadcaster }} images" class="img-responsive">
        <ol><h3>{{ top_headlines.title}}</h3></ol>
        <ol>Published on {{top_headlines.date}}</ol>
        <ol class="text-center">
            <a add target="_blank" href="{{top_headlines.URLsource}}">
                Read more</a>
        </ol>

        <ol> break! </ol>
    </div>
    {% endfor %}

{% endmacro %}
