<div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home (view all the latest stories)</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="https://github.com/AbugaAroni/">Author: Abuga Aroni<span class="sr-only">(current)</span></a></li>
              <li><a href="https://github.com/AbugaAroni/FlaskIP2">Application repository</a></li>
            </ul>
          </div>
