{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-12">
      {% if title %}
        <h3> Lastest News from the {{title}}</h3>
      {% else %}
      <title> Lastest News from your selected Broadcaster</title>
      {% endif %}
    </div>  
  </div>

  <div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-10">
  <!-- News display section  -->

        <ul>
           {{ macro.displayBroadcasterNews(broadcasternews)}}
        </ul>
    </div>

    <div class="col-md-1">
    </div>

  </div>

{% endblock%}
