{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-12">
      {% if title %}
      <title> Lastest News from the {{title}}</title>
      {% else %}
      <title> Lastest News from your selected broadcaster</title>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-10">
      <!-- News display section  -->
      <ul>
        {{ macro.displayBroadcasterNews(broadcasternews)}}
      </ul>
    </div>

    <div class="col-md-1">
    </div>

  </div>

  {% endblock%}
